// $sm: 576px,
$sm: 540px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;
$color-primary:#FF6363;
$font-family: "Inter",
sans-serif;
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.custom-navbar {
    background-color: #fff !important;
    // // padding: 2.1rem 0px;
    @media(max-width: $sm) {
        height: 5rem;
    }
    .navbar-brand {
        // font-size: 32px;
        font-weight: 700;
        // @media(max-width: 376px) {
        //     margin-left: 1rem;
        //     margin-right: 0px;
        // }
    }
    .navbar-toggler {
        border-color: transparent;
        // border-bottom: 1px solid #000;
        &:active,
        &:focus {
            box-shadow: none;
            outline: none;
        }
        // @media(max-width: 376px) {
        //     margin-left: 0px;
        //     margin-right: 1rem;
        // }
    }
    .custom-navbar-nav {
        margin-top: 1rem;
        // float: inline-start;
        li {
            @media (min-width: $sm) {
                a {
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn {
                        border: 2px solid #000;
                        &:hover {
                            border: 2px solid $color-primary;
                            background-color: $color-primary;
                            color: #fff;
                        }
                    }
                }
            }
            @media (min-width: $md) {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 3rem;
                }
            }
            @media (min-width: $lg) {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 25px;
                    margin-left: 3rem;
                }
            }
            a {
                text-decoration: none;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                height: 2.5rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.375rem;
                color: #000;
                border: 2px solid #fff;
                border-radius: 10px;
                &:hover {
                    // background-color: #a9a9a9;
                    color: #a9a9a9a9;
                }
                .btn {
                    border: 2px solid #FF6363;
                }
                p {
                    border: 2px solid #000;
                    border-radius: 10px;
                    padding: 0.5rem 2rem;
                    margin: 0 auto;
                    &:hover {
                        border-radius: 10px;
                        border: 2px solid $color-primary;
                        background-color: #FF6363;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.hero {
    margin-top: 4rem;
    margin-bottom: 12rem;
    @media(max-width: $sm) {
        margin-top: 0;
        margin-bottom: 0;
    }
    .intro-excerpt {
        position: relative;
        z-index: 4;
    }
    h1 {
        @media(min-width: $sm) {
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 5rem;
            line-height: 5.6rem;
            text-align: center;
            letter-spacing: -1.4px;
        }
        @media(min-width: $md) {
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 5rem;
            line-height: 5.6rem;
            text-align: center;
            letter-spacing: -1.4px;
        }
        font-family: $font-family;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        text-align: center;
        letter-spacing: -0.5px;
    }
    h2 {
        @media(min-width: $md) {
            margin: 0;
            padding: 1rem 3rem 1rem;
            /* 16px/Regular */
            font-family: 'Inter';
            font-family: $font-family;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.5rem;
            /* or 138% */
            text-align: center;
        }
        @media(min-width: $sm) {
            margin: 0;
            padding: 1rem 3rem 1rem;
            /* 16px/Regular */
            font-family: 'Inter';
            font-family: $font-family;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.5rem;
            /* or 138% */
            text-align: center;
        }
        margin: 0;
        font-family: $font-family;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: center;
        // @media(max-width: $sm) {
        //     margin: 0;
        //     padding: 1rem 3rem 1rem;
        //     /* 16px/Regular */
        //     font-family: 'Inter';
        //     font-family: $font-family;
        //     font-weight: 400;
        //     font-size: 1.3rem;
        //     line-height: 1.5rem;
        //     /* or 138% */
        //     text-align: center;
        // }
    }
    p {
        .btn-first {
            border: 3px solid $color-primary;
            padding: 0.8rem 2rem;
            margin-right: 0.4rem;
            // border: 3px solid #fff;
            border-radius: 8px;
            // padding: 1.25rem 2.3rem;
            background-color: $color-primary;
            color: #fff;
            font-family: $font-family;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2rem;
            text-align: center;
            letter-spacing: -0.3px;
            &:hover {
                border: 3px solid #000000;
                background-color: #fff;
                color: #000;
            }
        }
        .btn-second {
            padding: 0.8rem 2rem;
            margin-left: 0.4rem;
            border: 3px solid #000000;
            border-radius: 8px;
            // padding: 1.25rem 2.3rem;
            background-color: #fff;
            color: #000;
            font-family: $font-family;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2rem;
            text-align: center;
            letter-spacing: -0.3px;
            &:hover {
                background-color: $color-primary;
                color: #fff;
                border: 3px solid $color-primary;
            }
        }
        @media(max-width: $md) {
            .btn-second {
                display: none;
            }
            .btn-first {
                margin-right: 0;
                border: 3px solid #fff;
                border-radius: 8px;
                padding: 14px 19px;
                background-color: $color-primary;
                color: #fff;
                font-family: $font-family;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1rem;
                text-align: center;
                letter-spacing: -0.3px;
            }
        }
    }
    p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: center;
    }
}

main {
    @media(max-width: $sm) {
        margin-top: 5rem;
    }
    // feature_1
    margin-top: 3rem;
    .feature_1 {
        background-image: linear-gradient(#F8F8F8, #fff);
        h1 {
            @media(min-width: $sm) {
                margin-top: 7rem;
                font-family: $font-family;
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.75rem;
                text-align: center;
                letter-spacing: -0.8px;
            }
            margin-top: 4rem;
            font-family: $font-family;
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 3rem;
            text-align: center;
            letter-spacing: -0.5px;
        }
        h2 {
            @media(min-width: $md) {
                margin-bottom: 3rem;
                padding: 0px 5rem;
                font-family: $font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
            }
            margin-bottom: 3rem;
            padding: 0;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
        }
        img {
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        // @media(min-width: $sm) {
        //     h1 {
        //         margin-top: 3rem;
        //         padding: 0px 1rem;
        //         font-family: $font-family;
        //         font-weight: 700;
        //         font-size: 3rem;
        //         line-height: 3.75rem;
        //         /* or 125% */
        //         text-align: center;
        //         letter-spacing: -0.8px;
        //     }
        //     h2 {
        //         padding: 0px 1rem;
        //         font-family: $font-family;
        //         font-weight: 400;
        //         font-size: 1rem;
        //         line-height: 1rem;
        //         /* or 160% */
        //         text-align: center;
        //     }
        //     img {
        //         width: 100%;
        //         background-position: center;
        //         background-size: cover;
        //         background-repeat: no-repeat;
        //     }
        // }
    }
    // end-feature_1
    // feature_2
    .feature_2 {
        // margin: 1rem 0px;
        @media(min-width: $md) {
            margin-top: 2rem;
        }
        a {
            padding: 7px 15px;
            border: 2px solid #000;
            border-radius: 20px;
            text-decoration: none;
            font-family: $font-family;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
            color: #000000;
        }
        h1 {
            @media(min-width: $sm) {
                margin-top: 1rem;
                font-family: $font-family;
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.5rem;
                text-align: left;
                letter-spacing: -0.8px;
            }
            @media(min-width: $md) {
                margin-top: 2rem;
                font-family: $font-family;
                font-weight: 700;
                font-size: 38px;
                line-height: 40px;
                letter-spacing: -0.6px;
            }
            margin-top: 1rem;
            font-family: $font-family;
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 3rem;
            text-align: left;
            letter-spacing: -0.5px;
        }
        h2 {
            margin-bottom: 1.5rem;
            margin-right: 0;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            @media(min-width: $sm) {
                margin-bottom: 1.5rem;
                margin-right: 0;
                font-size: 18px;
                line-height: 30px;
            }
            //md 768
            @media(min-width: $md) {
                margin-bottom: 1.5rem;
                margin-right: 5rem;
                font-size: 18px;
                line-height: 30px;
            }
            // lg 992
            @media(min-width: $lg) {
                margin-bottom: 1.5rem;
                margin-right: 10rem;
                font-size: 18px;
                line-height: 30px;
            }
        }
        .link-navigation {
            .links {
                padding: 0;
                border: none;
                border-radius: none;
                font-family: $font-family;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: #FF6363;
            }
            img {
                width: 4%;
            }
        }
        img {
            @media(min-width: $sm) {
                width: 100%;
            }
            @media(min-width: $md) {
                width: 100%;
                height: auto;
            }
            @media(min-width: $lg) {
                width: 100%;
                height: auto;
            }
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        // @media (min-width: $lg) {
        //     .col-lg-5 {
        //         display: flex;
        //         justify-content: center;
        //         width: 41.66666667%;
        //     }
        // }
        // @media(max-width: $sm) {
        //     // height: 120vh;
        //     // padding: 2rem 0px;
        //     a {
        //         padding: 5px 10px;
        //         border: 2px solid #000;
        //         border-radius: 20px;
        //         text-decoration: none;
        //         font-family: $font-family;
        //         font-weight: 500;
        //         font-size: 12px;
        //         line-height: 15px;
        //         color: #000000;
        //     }
        //     h1 {
        //         margin: 1rem 0px 0.5rem;
        //         padding: 0;
        //         font-family: $font-family;
        //         font-weight: 700;
        //         font-size: 1.5rem;
        //         line-height: 25px;
        //         /* or 125% */
        //         text-align: left;
        //         letter-spacing: -0.8px;
        //     }
        //     .link-navigation {
        //         padding-bottom: 0.5rem;
        //         .links {
        //             margin: 0;
        //             padding: 0;
        //             border: none;
        //             border-radius: none;
        //             font-family: $font-family;
        //             font-weight: 600;
        //             font-size: 14px;
        //             line-height: 24px;
        //             color: #FF6363;
        //         }
        //         img {
        //             width: 4%;
        //         }
        //     }
        // }
        //.imgs feature 3
        .imgs {
            margin: 0px 1rem 1rem 0px;
            width: 25%;
            @media(max-width: $lg) {
                margin: 0px 0.5rem 0.5rem 0px;
                width: 25%;
            }
            @media(max-width: $sm) {
                margin: 0px 0.5rem 0.5rem 0px;
                width: 25%;
            }
        }
    }
    // end-feature_2
    .contact {
        h1 {
            font-size: 3rem;
            font-weight: 600;
            font-family: $font-family;
            color: #000;
        }
    }
    //feature_4
    .feature_4 {
        h3 {
            @media(min-width: $lg) {
                margin-top: 2rem;
            }
            margin-top: 2rem;
            font-family: $font-family;
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 3rem;
            text-align: center;
            letter-spacing: -0.5px;
            color: #000;
        }
        .bg-1 {
            margin-top: 3rem;
            background-color: $color-primary;
            border-radius: 5px;
            img {
                padding-top: 5rem;
                display: flex;
                margin: 0 auto;
                width: 40%;
            }
            h3 {
                margin: 0px 5rem;
                padding: 0;
                text-align: center;
                font-family: $font-family;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                color: #fff;
            }
            p {
                margin: 0px 5rem;
                padding: 0 0 5rem 0;
                text-align: center;
                font-family: $font-family;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                color: #fff;
            }
        }
        .bg-2 {
            @media(min-width: $md) {
                margin-top: 7rem;
            }
            margin-top: 3rem;
            background-color: #fff;
            border-radius: 5px;
            border: 2px solid #000;
            img {
                padding-top: 5rem;
                display: flex;
                margin: 0 auto;
                width: 40%;
            }
            h3 {
                margin: 0px 5rem;
                padding: 0;
                text-align: center;
                font-family: $font-family;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                color: #000;
            }
            p {
                margin: 0px 5rem;
                padding: 0 0 5rem 0;
                text-align: center;
                font-family: $font-family;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                color: #000;
            }
        }
    }
    //feature_5
    .feature_5 {
        @media(min-width: $md) {
            padding: 8rem 2.2rem;
        }
        padding: 2rem 2.2rem;
        background-color: #000;
        color: #fff;
        h2 {
            @media(min-width: $md) {
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: -0.3px;
            }
            font-family: $font-family;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
        }
        h3 {
            @media(min-width: $md) {
                // padding-right: 10rem;
                font-size: 40px;
                font-weight: 400;
                line-height: 50px;
                letter-spacing: -0.4px;
            }
            @media(min-width: $lg) {
                // padding-right: 15rem;
            }
            padding-right: 0;
            font-family: $font-family;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.3px;
        }
        .arrow {
            img {
                @media(min-width: $sm) {
                    display: none;
                }
                @media(min-width: $md) {
                    display: block;
                }
                display: none;
            }
        }
        .img_user {
            img {
                @media(min-width: $sm) {
                    display: flex;
                    margin: 0 auto;
                    width: 80%;
                }
                @media(min-width: $md) {
                    width: 100%;
                }
                width: 100%;
            }
            margin-right: 10px;
        }
        p {
            // margin: 0;
            @media(min-width: $sm) {
                padding-bottom: 4px;
                margin: 0;
            }
            @media(min-width: $md) {
                padding-left: 1rem;
                padding-bottom: 1rem;
                margin: 0;
            }
            padding-bottom: 1rem;
            margin: 0;
        }
        .img {
            text-align: right;
            img {
                @media(min-width: $md) {
                    display: none;
                    width: 10%;
                }
                width: 10%;
            }
        }
    }
    //feature_6
    .feature_6 {
        h1 {
            @media(min-width: $sm) {
                margin: 3rem 0 7px;
            }
            margin: 3rem 0 7px;
            font-family: $font-family;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: -0.8px;
        }
        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 3rem;
        }
        .cards {
            border: 3px solid #000;
            border-radius: 10px;
            h3 {
                margin-top: 3rem;
                @media(min-width: $sm) {
                    margin-top: 3rem;
                }
                margin-left: 4rem;
                margin-right: 4rem;
                font-family: $font-family;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                letter-spacing: -0.5px;
            }
            h4 {
                margin-left: 4rem;
                margin-right: 4rem;
                font-family: $font-family;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
            }
            hr {
                margin-left: 4rem;
                margin-right: 4rem;
            }
            h2 {
                margin-bottom: 1rem;
                display: flex;
                justify-content: row;
                margin-left: 4rem;
                margin-right: 4rem;
                font-family: $font-family;
                font-weight: 600;
                font-size: 60px;
                line-height: 68px;
                letter-spacing: -1px;
                p {
                    margin: 0;
                    padding-top: 2rem;
                    // margin-left: 0;
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                }
            }
            ol {
                margin-left: 4rem;
                margin-right: 4rem;
                list-style: circle;
                li {
                    @media(min-width: $sm) {
                        margin-bottom: 12px;
                    }
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                }
            }
            .btn-card {
                text-align: center;
                @media(min-width: $sm) {
                    // text-align: right;
                    // margin-right: 20px;
                    margin-top: 2rem;
                    margin-bottom: 1.3rem;
                }
                a {
                    border-radius: 8px;
                    padding: 20px 37px;
                    color: #fff;
                    text-decoration: none;
                    background-color: $color-primary;
                    font-family: $font-family;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    letter-spacing: -0.3px;
                }
            }
            p {
                font-family: $font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }
        }
        .note {
            p {
                margin-top: 1.8rem;
                padding: 0;
                margin-right: 68%;
                font-family: $font-family;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #838383;
                a {
                    text-decoration: none;
                    color: $color-primary;
                    font-family: $font-family;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: -0.3px;
                }
            }
        }
    }
    .request {
        border: 3px solid #000;
        border-radius: 5px;
        h2 {
            @media(min-width: $sm) {
                margin-top: 2rem;
            }
            margin-left: 2rem;
            margin-top: 4rem;
            font-family: $font-family;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.5px;
        }
        h3 {
            @media(min-width: $sm) {
                margin-bottom: 2rem;
            }
            margin-left: 2rem;
            margin-bottom: 4rem;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }
        a {
            @media(min-width: $sm) {
                margin: 0 auto;
                margin-bottom: 1rem;
            }
            @media(min-width: $md) {
                margin-right: 1rem;
                margin-bottom: 0;
            }
            @media(min-width: $lg) {
                margin-right: 4rem;
                margin-bottom: 0;
            }
            margin: 0 auto;
            margin-bottom: 1rem;
            border: 3px solid #000;
            border-radius: 5px;
            padding: 20px 37px;
            text-decoration: none;
            color: #000;
            font-family: $font-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: -0.3px;
        }
    }
    .notes {
        margin-top: 2rem;
        @media(min-width: $md) {
            margin-right: 40%;
        }
        @media(min-width: $lg) {
            margin-right: 55%;
        }
        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #838383;
            a {
                text-decoration: none;
                font-family: $font-family;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: $color-primary;
            }
        }
    }
    .newsletter {
        background-color: $color-primary;
        border-radius: 5px;
        h3 {
            @media(min-width: $sm) {
                text-align: left;
                margin-top: 0;
                margin-left: 2rem;
            }
            @media(min-width: $md) {
                margin-top: 8rem;
                margin-left: 2rem;
            }
            @media(min-width: $lg) {
                text-align: left;
                margin-top: 8rem;
                margin-left: 4rem;
            }
            margin-left: 2rem;
            text-align: left;
            font-family: $font-family;
            font-weight: 700;
            font-size: 60px;
            line-height: 68px;
            letter-spacing: -1px;
            color: #fff;
        }
        #email {
            @media(min-width: $sm) {
                margin-left: 2rem;
                padding-left: 2rem;
                height: 72px;
                width: 421px;
            }
            @media(min-width: $md) {
                padding-left: 2rem;
                margin-top: 1.5rem;
                margin-bottom: 3rem;
                margin-left: 2rem;
                height: 72px;
                width: 330px;
            }
            @media(min-width: $lg) {
                padding-left: 2rem;
                margin-top: 1.5rem;
                margin-bottom: 3rem;
                margin-left: 4rem;
                height: 72px;
                width: 421px;
            }
            height: 72px;
            width: 300px;
            margin-left: 2rem;
            border-radius: 4px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #838383;
            border: none;
            border-radius: 5px;
        }
        p {
            margin-bottom: 4rem;
            margin-left: 4rem;
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #fff;
        }
        .img-email {
            @media(max-width: 767px) {
                display: none;
            }
            img {
                width: 100%;
            }
        }
    }
}

.modal-content {
    text-align: center;
    .modal-header {
        background-color: $color-primary;
        .modal-title {
            font-size: 2rem;
            font-weight: 800;
            font-family: $font-family;
            color: #fff;
            margin-right: 0;
        }
    }
    .modal-body {
        text-align: right;
        a {
            text-decoration: none;
            color: #000;
            font-size: 0.9rem;
            font-family: $font-family;
            font-weight: 400;
        }
        .links-fogotpass {
            margin-top: 0.5rem;
        }
    }
    .modal-footer {
        .btn {
            background-color: $color-primary;
            padding-left: 4rem;
            padding-right: 4rem;
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            font-family: $font-family;
        }
        p {
            font-size: 0.9rem;
            font-weight: 400;
            font-family: $font-family;
            color: #000;
            a {
                text-decoration: none;
                color: #000;
                font-size: 1rem;
                font-family: $font-family;
                font-weight: 400;
                &:hover {
                    border-bottom: 2px solid #000;
                }
            }
        }
    }
}

// slick slider
.image-slider {
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 1.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            // @media(min-width: $sm) {
            //     width: 180px;
            //     height: 180px;
            // }
            @media(min-width: $md) {
                width: 200px;
                height: 200px;
            }
            @media(min-width: $lg) {
                width: 280px;
                height: 280px;
            }
            @media(min-width: $xl) {
                width: 300px;
                height: 300px;
            }
            object-fit: cover;
            width: 210px;
            height: 210px;
            border-radius: 0.8rem;
        }
    }
}

.image {
    height: 300px;
    &img {
        object-fit: cover;
        border-radius: 0.8rem;
    }
}

.image-title {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

.title {
    display: flex;
    justify-content: space-between;
    h3 {
        text-decoration: none;
        color: #000000;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.5px;
    }
    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-align: right;
        color: $color-primary;
    }
}

// content
.content {
    margin-top: 5rem;
    margin-bottom: 6rem;
    @media(min-width: $sm) {
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    @media(min-width: $md) {
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    @media(min-width: $lg) {
        margin-top: 10rem;
        margin-bottom: 12rem;
    }
    h2 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: -1.4px;
        color: #000000;
    }
    h3 {
        font-family: $font-family;
        font-weight: 400;
        font-size: 26px;
        line-height: 40px;
        color: #000000;
    }
    a {
        text-decoration: none;
        font-family: $font-family;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -0.346667px;
        color: #FF6363;
    }
}

// about page
.content_about {
    @media(min-width: $sm) {
        margin-top: 2rem;
        padding-bottom: 0.5rem;
    }
    @media(min-width: $md) {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    @media(min-width: $lg) {
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-family: $font-family;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -1.1px;
        @media(min-width: $md) {
            padding: 0;
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: -1.1px;
        }
        @media(min-width: $lg) {
            padding: 0;
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 80px;
            line-height: 90px;
            letter-spacing: -1.4px;
        }
    }
    h4 {
        padding: 0;
        margin: 0;
        font-family: $font-family;
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: #FF6363;
        @media(min-width: $md) {
            padding: 0;
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 38px;
            line-height: 40px;
            letter-spacing: -0.5px;
            color: #FF6363;
        }
        @media(min-width: $lg) {
            padding: 0;
            margin: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: -0.8px;
            color: #FF6363;
        }
    }
    p {
        padding: 0;
        margin: 0;
        font-family: $font-family;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 29px;
        @media(min-width: $md) {
            padding: 0;
            margin: 0;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }
    }
    .image_about {
        & img {
            margin-top: 2rem;
            width: 100%;
            @media(min-width: $sm) {
                margin-top: 2rem;
                width: 80%;
            }
            @media(min-width: $md) {
                margin-top: 0;
                width: 100%;
            }
            @media(min-width: $lg) {
                margin-top: 0;
                width: 100%;
            }
        }
    }
}

// content_about_2
.content_about_2 {
    h4 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.5px;
    }
    .card {
        border: none;
    }
    .card-body {
        padding: 0;
        margin: 0;
    }
    .card-title {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}

// support page
.contact {
    h2 {
        font-family: $font-family;
        font-weight: 400;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: -0.8px;
        @media(min-width: $md) {
            margin-bottom: 3rem;
            font-family: $font-family;
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: -0.8px;
        }
        @media(min-width: $lg) {
            font-family: $font-family;
            font-weight: 400;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: -0.8px;
        }
    }
    a {
        & img {
            width: 100%;
            @media(min-width: $sm) {
                width: 100%;
            }
            @media(min-width: $md) {
                width: 100%;
            }
            @media(min-width: $lg) {
                width: 75%;
            }
        }
    }
    p {
        font-family: $font-family;
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 32px;
        margin-bottom: 0;
        @media(min-width: $sm) {
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }
    }
}

.support_page {
    @media(min-width: $md) {
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
    margin-top: 2rem;
    padding-bottom: 1rem;
    h2 {
        @media(min-width: $md) {
            margin-bottom: 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 80px;
            line-height: 90px;
            letter-spacing: -1.4px;
        }
        margin-bottom: 0;
        font-family: $font-family;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        letter-spacing: -1.4px;
    }
    h3 {
        @media(min-width: $md) {
            font-family: $font-family;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: -0.8px;
        }
        font-family: $font-family;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.8px;
    }
}

.btn {
    input {
        @media(min-width: $md) {
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #838383;
            padding-left: 1rem;
            height: 4rem;
        }
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #838383;
        padding-left: 1rem;
        height: 3.5rem;
        border: none;
        background-color: #F8F8F8;
    }
    button {
        border: none;
        background-color: #F8F8F8;
        font-size: 1.5rem;
    }
}

// integration
.tab-layout {
    nav {
        border: none;
        .nav-link {
            border: none;
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #000;
            &.active {
                font-weight: 700;
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

.integration {
    a {
        img {
            @media(min-width: $sm) {
                margin-bottom: 1rem;
                box-shadow: 5px 0 5px -5px #979797, -5px 0 5px -5px #979797;
                width: 100%;
            }
            @media(min-width: $md) {
                box-shadow: 5px 0 5px -5px #979797, -5px 0 5px -5px #979797;
                width: 100%;
            }
            @media(min-width: $lg) {
                box-shadow: 5px 0 5px -5px #979797, -5px 0 5px -5px #979797;
                width: 100%;
            }
            margin-bottom: 1rem;
            box-shadow: 5px 0 5px -5px #979797,
            -5px 0 5px -5px #979797;
            width: 80%;
        }
    }
}

.bg {
    img {
        height: 101vh;
        position: absolute;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}